mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  transition: width 0.3s ease;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.content-container {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.active {
  background-color: rgba(0, 0, 0, 0.04);
}